.W {margin: 0 auto;
	width: 990px;
}
/* 通用板块结束 */
/* logo区域的开始 */
/* ~~~~~logo 区域开始~~~~~~~~~~~~~~ */
.logo {
	height: var(--header-logo);  
	display: flex; align-items: center;
	justify-content: space-between;
} 
.search-warper>ul>li {flex-grow: 1;}
.search-input {
	height: 44px; width: 510px;
	padding: 10px 10px;
	background-color: var(--main-color);
}
.search-input>input {
	width: calc(510px - 60px);
}
.search-input>span {display: block;}
.main-cart {font-size: 1.2rem;}
.main-cart>div {
	padding: 0 30px; margin-left: 10px;
	width: 120px; height: 38px;
	display: flex; align-items: center;
	background-color: #f8f8f6;
	border: 1px solid #111;
}
.addressManage {cursor: pointer;}


/* 地址的管理开始~~~~~~~~~~~ */
.address {
	position: fixed;
	top: 0; left: 0;
	width: 100vw; height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	z-index: 9;
	display: none;
}
.formActive {display: block;}
/* 添加激活样式 */
.boxForm {
	display: flex;
	position: relative;
	top: 10%; left: 50%;
	transform: translateX(-50%);
	width: 740px; height: 420px;
	background-color: #ffffff;
	padding: 6px;
}
.boxForm>form {
	display: flex;
	flex-direction: column;
}
.form-warper {
	position: relative;
	flex-grow: 1;
}
.form-warper>ul {width: 100%;}
.form-warper>ul>li>span {
	display: inline-block;
	width: 80px;
}
.form-warper>ul>li>span::before {
	content: "* ";
	color: red;
	font-size: 14px;
}
.form-warper>ul>li {
	width: 100%;
	margin-top: 30px;
}
.boxForm input[type=text],
.style {
	width: 144px;
	height: 24px;
	border: 1px solid #e5e5e5;
}

.saveData {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	width: 160px;
	height: 40px;
	line-height: 40px;
	border-radius: 12px;
	background: var(--main-color);
	text-align: center;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}
/* 地址的管理结束~~~~~~~~~~~ */


/* 商品的信息页面~~~~~~~~~~~~~~~~~~~~~ */
.cart-wraper {
	min-height: 500px;
	z-index: 2;
}
.cart-header {
	height: 32px;
	background-color: var(--sub-color);
	align-items: center;
}
.cart-header>h5 {
	font-size: 14px;
	color: #fff;
	padding: 8px 12px;
	
}
ul.cart-header-show {
	height: 40px;
	align-items: center;
	background: #fafbf8;
	column-gap: 12px;
}
ul.cart-header-show>li {
	display: inline-block;
	padding: 0 40px;
}
ul.cart-header-show>li:nth-child(4) {
	margin-left: auto;
}
/* ~~~~~~新增商品的 li~~~~~~~~~~~~~~~~~~~~~~~~~~ */
ul.list>li {
	display: flex;
	height: 100px;
	border-top: 1px dashed #999;
	column-gap: 20px;
	align-items: center;
	padding: 0 40px;
	position: relative;
}
ul.list>li>* {padding: 0 10px;}
ul.list>li>img {width: 60px;}
.price {
	margin-left: auto;
}
.btn-updata {}
.btn-remove {}

/* ~~点击提交以及一些信息的展示提醒~~~~~~~~~~ */
.collectData {
	width: 100%;
	min-height: 40px;
	display: flex;
	justify-content: flex-end;
}
.goPay {
	height: 40px;
	line-height: 30px;
	font-size: 18px;
	padding: 4px 50px;
	border-radius: 12px;
	background: #f0a60c;
	color: #fff;
	font-weight: 500;
}

































































